rbac:
  - apiGroups:
      - monitoring.coreos.com
    resources:
      - servicemonitors
    verbs: ["list", "watch"]

resources:
  - groupVersionKind:
      group: monitoring.coreos.com
      kind: ServiceMonitor
      version: v1
    metricNamePrefix: kube_servicemonitor
    metrics:
      - name: info
        help: Information about a ServiceMonitor.
        each:
          type: Info
          info:
            labelsFromPath:
              name:
                - metadata
                - name
              namespace:
                - metadata
                - namespace
              tenant:
                - metadata
                - labels
                - observability.giantswarm.io/tenant
              team:
                - metadata
                - labels
                - application.giantswarm.io/team
