rbac:
  - apiGroups:
      - monitoring.grafana.com
    resources:
      - podlogs
    verbs: ["list", "watch"]

resources:
  - groupVersionKind:
      group: monitoring.grafana.com
      kind: PodLogs
      version: v1alpha2
    metricNamePrefix: kube_podlog
    metrics:
      - name: info
        help: "Information about a PodLog resource"
        each:
          type: Info
          info:
            labelsFromPath:
              name:
                - metadata
                - name
              namespace:
                - metadata
                - namespace
              tenant:
                - metadata
                - labels
                - observability.giantswarm.io/tenant
              team:
                - metadata
                - labels
                - application.giantswarm.io/team
              app_instance:
                - metadata
                - labels
                - app.kubernetes.io/instance
